name: Build and Push Docker Image to ECR

on:
  push:
    tags:
      - "dev-*.*.*-t*"
      - "stag-*.*.*-t*"
      - "release-*.*.*"

env:
  AWS_REGION: ap-northeast-2

permissions:
  id-token: write
  contents: read
  packages: write
  security-events: write

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set AWS Account
        id: set-account
        run: |
          if [[ ${{ github.ref_name }} == dev-* ]]; then
            echo "account_id=850758625144" >> $GITHUB_OUTPUT
            echo "role_name=flexa-simmula-dev-github-actions-oidc-role" >> $GITHUB_OUTPUT
          elif [[ ${{ github.ref_name }} == stag-* ]]; then
            echo "account_id=766626238817" >> $GITHUB_OUTPUT
            echo "role_name=flexa-simmula-staging-github-actions-oidc-role" >> $GITHUB_OUTPUT
          else
            echo "account_id=766626238817" >> $GITHUB_OUTPUT
            echo "role_name=flexa-simmula-prod-github-actions-oidc-role" >> $GITHUB_OUTPUT
          fi

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::${{ steps.set-account.outputs.account_id }}:role/${{ steps.set-account.outputs.role_name }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: flexa/simmula-api
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}
          tags: |
            type=ref,event=tag
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/release-') }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

      - name: Scan image for vulnerabilities
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ steps.login-ecr.outputs.registry }}/flexa/simmula-api:${{ github.ref_name }}
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"
        continue-on-error: true

      - name: Upload Trivy scan results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: "trivy-results.sarif"
        continue-on-error: true
